/* DM Sans */
@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DMSans/DMSans-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DMSans/DMSans-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "DM Sans";
  src: url("../fonts/DMSans/DMSans-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

/* DM Mono */
@font-face {
  font-family: "DM Mono";
  src: url("../fonts/DM_Mono/DMMono-Light.ttf");
  font-weight: 300;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "DM Mono";
  src: url("../fonts/DM_Mono/DMMono-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "DM Mono";
  src: url("../fonts/DM_Mono/DMMono-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

/* Orbitron */
@font-face {
  font-family: "Orbitron";
  src: url("../fonts/Orbitron/Orbitron-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Orbitron";
  src: url("../fonts/Orbitron/Orbitron-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: block;
}
