.datePicker {
  background-color: var(--color-surface);
  padding: var(--spacing-base-x2);
  border-radius: var(--border-radius-default);
  width: min-content;
  height: min-content;
}

.clearButton {
  margin-top: var(--spacing-base-x2);
}
