.app {
  overflow: scroll;
  max-height: 100vh;
}

.header {
  width: 100%;
  padding: 20px;
}

.page-wrapper {
  padding: 20px;
  
}

.component {
  margin-bottom: 20px;
}

.component-name {
  font-size: 30px;
  margin-bottom: 10px;
}


